body{
  height:100vh;
}
#content{
  width:100%;
  flex-direction: column !important;
  font-size: .7em;
}
#navbar{
  width:100%;
  z-index: 10;
  overflow: hidden;
  flex-direction: column !important;
}
#searchBox_container{
  flex-direction: column !important;
}
.nav-link{
  font-size: .9em;
}
#tab_itenerary{
  box-shadow: 0px 5px 10px grey;
  z-index: 5;
}
#itenerary_list_portrait{
  max-height: 24vh;
  overflow: auto;
  display:initial;
  box-shadow: 0px -5px 10px grey;
  z-index: 5;
}
#itenerary_list_landscape{
  height:100%;
  overflow: auto;
  display:none;
}

@media only screen
and (orientation : portrait) {
  #content{
    flex-direction: column !important;
  }
  #navbar{
    flex-direction: column !important;
  }
  #searchBox_container{
    display: initial;
    flex-direction: column !important;
    flex-grow: 0 !important;

  }
  #tab_itenerary{
    max-width: 100%;
  }
  #itenerary_list_portrait{
    max-height: 24vh;
    overflow: auto;
    display:initial;
  }
  #itenerary_list_landscape{
    height:100%;
    overflow: auto;
    display:none;
  }
  #tab_itenerary{
    box-shadow: 0px 5px 10px grey;
  }
}
@media only screen
and (orientation : landscape) {
  #content{
    flex-direction: row !important;
  }
  #navbar{
    flex-direction: row !important;
  }
  #searchBox_container{
    display: flex;
    flex-direction: row !important;
    flex-grow: 1 !important;
  }
  #tab_itenerary{
    width:300px;
    max-width: 300px;
  }
  #itenerary_list_portrait{
    display:none;
  }
  #itenerary_list_landscape{

    display:initial;
  }
  #tab_itenerary{
    box-shadow: 5px 0px 3px grey;
  }
}
@keyframes fadein {

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
