<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Wayto</title>
    <link rel="logo icon" href="icons/Logo 1.svg" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/index.css">
</head>

<body class="container-fluid d-flex flex-column p-0 m-0">
  <nav id="navbar" class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="icons/Logo 1.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      WayTo
    </a>
    <div class="form-inline">
      <input placeholder="Origin" id="originAutocomplete" class="form-control mr-sm-2" aria-label="Origin">
      <input placeholder="Destination" id="destinationAutocomplete" class="form-control mr-sm-2" aria-label="Search" aria-label="Destination">
      <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0">Go</button>
    </div>

  </nav>
  <div id="content" class="col d-flex p-0">

    <div id="tab_itenerary" class="d-none flex-column flex-nowrap align-items-stretch ">
      <div id="tab_duration" class="p-0">
        <ul class="nav nav-tabs container-fluid nav-fill d-flex flex-nowrap p-0" id="duration_tab" role="tablist">

          <!-- ......... -->

        </ul>
      </div>
      <div id="itenerary_list_landscape" class="tab-content col p-0">

      </div>
    </div>
    <div class="d-flex col p-0">
      <div id="map" class="col p-0">
      </div>
      <div id="monitor" class="position-absolute col p-0">

      </div>
    </div>
    <div id="itenerary_list_portrait" class="d-none tab-content">

        <!-- ......... -->

    </div>
  </div>


                  <!-- Templates -->

<script id="leg_walk" type="text/template">
    <div class="col-2 text-center p-0">
      <img src="icons/<%= conveyance.primary %> White.svg" width="25px" height="25px" class="d-inline-block" alt="">
      <div class="col-12 p-0"><small><%= formatDuration(duration) %></small></div>
    </div>
    <div class="col p-0">
      <span class="badge badge-light border border-dark"><%= conveyance.primary %></span>
      <ul class="list-unstyled">
        <%
          steps.forEach(function(item,i){
            %>
              <li><%= i+1 %>. <%= item.absoluteDirection %> on to <%= item.streetName %></li>
            <%
          });
        %>
      </ul>

    </div>

</script>
<script id="leg_vehicle" type="text/template">

    <%
    var veh = conveyance.primary;
    if(veh == "RAIL") veh = route;
    %>
    <div class="col-2 text-center p-0">
      <img src="icons/<%= veh %> White.svg" width="25px" height="25px" class="d-inline-block" alt="">
      <div class="col-12 p-0"><small><%= formatDuration(duration) %></small></div>
      <div class="col-12 p-0"><small><%= fare %></small></div>
    </div>
    <div class="col p-0">
      <span class="badge badge-light border border-dark"><%= conveyance.primary %></span>
      <ul class="list-unstyled">
        <li><b>Board</b></li>
        <li><%= from.name %></li>
        <li><b>Alight</b></li>
        <li><%= to.name %></li>
      </ul>
    </div>

</script>

<script id="itenerary_header" type="text/template">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <b class=""><%= formatDuration(duration) %></b>
        <b class="">time (day) - time</b>
        <b class="">P<%= fare %></b>
      </div>
    <hr class="my-1"/>
    </div>
    <div class="col-12 text-center">
      <button class="start_monitor btn btn-outline-primary">Monitor Trip</button>
      <button class="stop_monitor btn btn-outline-danger" style="display:none;">Cancel Monitor</button>
    </div>
    <%
      legs.forEach(function(item,i){
        var veh = item.conveyance.primary;
        if(veh == "WALK") return;
        if(veh == "RAIL") veh = item.route;
        %>
          <div class="col-12 p-0">
            <img src="icons/<%= veh %> Black.svg" width="25px" height="25px" class="d-inline-block" alt="">
            <span class="badge badge-dark ml-2"><%= item.conveyance.primary %></span>
            <span class="ml-3"><%= item.route %></span>
          </div>
        <%

      });
    %>
    <div class="col-12 my-2">
        <b >WALKING</b> <%= formatDuration(walkTime) %>
    </div>
</script>

<script id="itenerary_tab" type="text/template">
    <span class="nav-link <% status %> py-2 px-0 text-center col" aria-selected="true">
      <b><%= formatDuration(duration) %></b>
    </span>
</script>

<script id="tab-number" type="text/template">
  <div class="card tab-pane fade tab-<%= tabId %>" >
    <div class="card-header">
      <!-- ............ -->
    </div>
    <ul class="list-group list-group-flush">
      <!-- ............ -->
    </div>
  </div>
</script>

<script id="monitor_template" type="text/template">
  <div class="progress col-12 mt-2 position-absolute p-0">
    <div class="progress-bar" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div id="label" class="col-12 d-flex flex-nowrap position-absolute p-0">
    <%
      console.log("itenerary parent duration: "+ duration);
      legs.forEach(function(item,i){
        var width = Math.ceil((item.duration/duration)*100);
        console.log("leg duration: "+ item.duration);
        console.log("itenerary duration: "+duration);
        console.log("width: "+width);
        %>
          <div class="p-0" style="width:<%=width+'%'%>;">
            <img class="float-left" src="icons/<%= item.conveyance.primary %> Black.svg" width="25px" height="25px" class="d-inline-block" alt="">
          </div>
        <%

      });
    %>
  </div>
</script>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- Custom and plugin javascript -->

    <script src="js/moment.min.js"></script>
    <script src="js/moment-timezone-with-data.min.js"></script>

    <script src="js/reqwest.min.js"></script>
    <script src="js/q.min.js"></script>

    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>


    <!-- Backbone MV* -->
    <script src="js/models/LegModel.js"></script>
    <script src="js/models/IteneraryModel.js"></script>
    <script src="js/models/AppModel.js"></script>

    <script src="js/views/MonitorView.js"></script>
    <script src="js/views/LegView.js"></script>
    <script src="js/views/LegHeaderView.js"></script>
    <script src="js/views/IteneraryTabView.js"></script>
    <script src="js/views/IteneraryTabContentView.js"></script>
    <script src="js/views/AppView.js"></script>

    <!-- Custom Scripts -->
    <script src="js/util.js"></script>
    <script src="js/ws.js"></script>
    <script src="js/index.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjsZnY2K1XZ5F4DjigseCx8SBTLe326O4&libraries=places&callback=initMap" async defer></script>


</body>

</html>
