body{
  height:100vh;
}
#content{
  width:100%;
  flex-direction: column !important;
  font-size: .7em;
}
#navbar{
  width:100%;
}
.nav-link{
  font-size: .9em;
}
#itenerary_list_portrait{
  max-height: 24vh;
  overflow: auto;
  display:initial;
}
#itenerary_list_landscape{
  height:100%;
  overflow: auto;
  display:none;
}

@media only screen
and (orientation : portrait) {
  #content{
    flex-direction: column !important;
  }
  #tab_itenerary{
    max-width: 100%;
  }
  #itenerary_list_portrait{
    max-height: 24vh;
    overflow: auto;
    display:initial;
  }
  #itenerary_list_landscape{
    height:100%;
    overflow: auto;
    display:none;
  }
}
@media only screen
and (orientation : landscape) {
  #content{
    flex-direction: row !important;
  }
  #tab_itenerary{
    width:300px;
    max-width: 300px;
  }
  #itenerary_list_portrait{
    display:none;
  }
  #itenerary_list_landscape{

    display:initial;
  }
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
